<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega 1 Desenvolvimento Web!</title>
</head>
<body>
    
    <form action="/exercicio1" method="get">
        <input type="submit" value="Exercicio1">
    </form>
    <form action="/exercicio2" method="get">
        <input type="submit" value="exercicio2">
    </form>
</body>
</html>